<p id="notice"><%= notice %></p>

<h1>Listing Models</h1>

<table>
  <thead>
    <tr>
      <th>Modelid</th>
      <th>Gender</th>
      <th>Movement</th>
      <th>Style</th>
      <th>Colour</th>
      <th>Waterresistant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= model.modelid %></td>
		
        <td><%= model.gender %></td>
        <td><%= model.movement %></td>
        <td><%= model.style %></td>
        <td><%= model.colour %></td>
        <td><%= model.waterresistant %></td>
        <td><%= link_to 'Show', model %></td>
        <td><%= link_to 'Edit', edit_model_path(model) %></td>
        <td><%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Model', new_model_path %>
