<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @rating.model_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user_id %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @rating.starts %>
</p>

<p>
  <strong>Review:</strong>
  <%= @rating.review %>
</p>

<h2>Star Rating and comment:</h2>
<%= form_for([@movie, Comment.new]) do |f| %>

<h3><%= f.label :stars %>
		<% stars = [1, 2, 3, 4, 5] %>
		<% stars.each do |star| %>
	<%= f.radio_button :stars, star %> <%= star %>
 <% end %>
</h3></br>
	<%= f.text_area :content, :rows => 4, :cols => 40 %>
<div class="actions">
	<%= f.submit "Post a Comment"%>
</div>
<% end %>



<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
